.subtitle-normal {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    line-height: 1.2em;
}

.subtitle-success {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--green-1);
    line-height: 1.2em;
}

.subtitle-error {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--red-1);
    line-height: 1.2em;
}

/* page title styles */
#page__title {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.page__title__text {
	font-size: 2.2rem;
	color: var(--black-1);
}
.page__subtitle__text {
    font-size: 1.6rem;
    color: var(--green-1);
}
@media only screen and (min-width: 768px) {
	#page__title {
		padding-top: 5rem;
		padding-bottom: 3rem;
	}
	.page__title__text {
		font-size: 3.6rem;
	}
    .page__subtitle__text {
        font-size: 2.6rem;
    }
}
/* Our Specials Menu Styles */
#ourServices {
	padding: 0;
}
.ourServices__title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 2rem;
}
.ourServices__wrapper {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	max-width: 400px;
    margin-bottom: 50px;
}
.ourServices__item {
	flex: 1;
	display: flex;
	gap: 2rem;
	background-color: var(--lightGreen-1);
	padding: 1.5rem;
	border-radius: 12px;
    max-height: 400px;
}
.faq-item {
	background-color: var(--lightGreen-1);
	padding: 1.5rem;
}
.ourServices__item__img,
.ourServices__item__info {
	flex: 1;
}
.ourServices__item__img {
	border-radius: 12px;
	overflow: hidden;
}
.ourServices__item__img img {
	object-fit: cover;
}
.ourServices__item__title {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: var(--black-1);
	line-height: 1.2em;
}
.ourServices__item__subtitle {
	font-size: 1.6rem;
	font-weight: 100;
	margin-bottom: 1rem;
	color: var(--black-1);
	line-height: 1.2em;
}
.ourServices__item__red__label {
    font-size: 1.8rem;
    color: var(--red-1);
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourServices__item__price {
	font-size: 1.8rem;
	color: var(--green-1);
	font-weight: 600;
	margin-bottom: 1rem;
}
.ourServices__item__stars {
	width: max-content;
}
.ourServices__item__text {
    margin-top: 1rem;
	font-size: 1.4rem;
	color: var(--black-2);
	font-weight: 500;
}
@media only screen and (min-width: 768px) {
	.ourServices__title {
		font-size: 2.4rem;
	}
	.ourServices__wrapper {
		flex-direction: column;
		gap: 2rem;
		max-width: none;
	}
	.ourServices__item {
		padding: 3rem;
		gap: 2rem;
	}
    .faq-item {
		padding: 3rem;
	}
	.ourServices__item__title {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}
    .ourServices__item__subtitle {
        font-size: 2rem;
		margin-bottom: 1.5rem;
    }
	.ourServices__item__price {
		font-size: 2.4rem;
		margin-bottom: 1.5rem;
	}
    .ourServices__item__text {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1100px) {
	.ourServices__item__img {
		flex: 4;
	}
	.ourServices__item__info {
		flex: 3;
	}
}

/* Service Grid Styles */
#serviceGrid {
	padding-bottom: 0;
}
#serviceGrid:last-of-type {
	padding-bottom: 10rem;
}

.checkbox-wrapper {
    position: relative;
    margin-top: 1.5rem;
}
.checkbox-label {
    display:  flex;
    position:  relative;
    font-size:  20px;
    font-weight:  400;
    align-items:  center;
    justify-content:  flex-start;
}
.checkbox-label:before,
.checkbox-label:after {
    pointer-events: none;
}
.checkbox-label:before {
    display:  flex;
    content: ' ';
    height:  20px;
    width:  20px;
    border:  solid 3px #000;
    background:  #fff;
    margin-right:  10px;
}
.checkbox-label:after {
    position:  absolute;
    top:  5px;
    left:  7px;
    display:  flex;
    content: ' ';
    height:  12px;
    width:  12px;
    background: #000;
    transform: scale(0);
    transition:  transform .3s ease;
}
.checkbox-label:after {
    height:  8px;
    width:  12px;
    left:  4px;
    border-bottom:  solid 4px #000;
    border-left:  solid 4px #000;
    background:  none;
    transform: rotate(-45deg) scale(0);
    transition:  transform .1s ease, opacity .1s ease;
    transform-origin: center center;
}
.checkbox-wrapper input[type="checkbox"] {
    display:  none;
    position:  absolute;
    top:  0px;
    left: 0px;
    height:  20px;
    width:  20px;
    -webkit-appearance:  none;
}
.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label:after {
    opacity:  1;
    transform: rotate(-45deg) scale(.8);
}

/* Home Page Slider */

